name: Generate API Client

on:
  workflow_dispatch:
    inputs:
      language:
        description: "Select which client(s) to generate"
        required: true
        type: choice
        options:
          - go

jobs:
  generate-go-client:
    name: Generate golang client
    runs-on: ubuntu-latest
    env:
      SERVICE_NAME: productclient

    steps:
      - name: Checkout service repo
        uses: actions/checkout@v4

      - name: Generate Go client
        if: ${{ github.event.inputs.language == 'go' }}
        run: |
          echo "Generating Go client..."
          mkdir -p gen/productclient
          go run github.com/oapi-codegen/oapi-codegen/v2/cmd/oapi-codegen@latest \
            --config ./docs/oapi-codegen.yaml ./docs/openapi.yaml > gen/productclient/client.gen.go 2> gen/productclient/gen.log
          cat gen/productclient/gen.log
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: productclient
          path: gen/productclient
          retention-days: 1

  publish:
    name: Publish generated clients
    runs-on: ubuntu-latest
    needs: generate-go-client

    steps:
      - name: Checkout api-clients repo
        uses: actions/checkout@v4
        with:
          repository: zhunismp/intent-api-clients
          token: ${{ secrets.API_CLIENT_PAT }}
          path: api-clients

      - name: Download generated artifact
        uses: actions/download-artifact@v4
        with:
          name: productclient
          path: ./productclient

      - name: Move artifact into repo
        run: |
          mkdir -p api-clients/go/products
          mv productclient/* api-clients/go/products/

      - name: Commit and push
        run: |
          cd api-clients
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add -A
          git commit -m "chore(products): regenerate product client" || echo "No changes"
          git push origin main || echo "Nothing to push"