name: Generate API Client

on:
  workflow_dispatch:
    inputs:
      language:
        description: "Select which client(s) to generate"
        required: true
        type: choice
        options:
          - go

jobs:
  generate-go-client:
    name: Generate golang client
    runs-on: ubuntu-latest
    env:
      SERVICE_NAME: productclient

    steps:
      - name: Checkout service repo
        uses: actions/checkout@v4

      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: zhunismp/intent-api-clients
          token: ${{ secrets.API_CLIENT_PAT }}
          path: api-clients

      - name: Generate Go client
        if: ${{ github.event.inputs.language == 'go' }}
        run: |
          echo "Generating Go client..."
          go install github.com/oapi-codegen/oapi-codegen/v2/cmd/oapi-codegen@latest

          echo "Adding GOPATH/bin to PATH..."
          export PATH="$PATH:$(go env GOPATH)/bin"

          mkdir -p api-clients/go/$SERVICE_NAME
          oapi-codegen --config ./docs/oapi-codegen.yaml ./docs/openapi.yaml > gen/client.gen.go
          tree .
          cat ./api-clients/go/$SERVICE_NAME/client.gen.go
          cd api-clients/go/$SERVICE_NAME
          go mod init github.com/zhunsimp/api-clients/go/$SERVICE_NAME || true
          go mod tidy

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: productclient
          path: gen/
          retention-days: 1

  publish:
    name: Commit client to api-clients repo
    runs-on: ubuntu-latest
    needs: generate

    steps:
      - name: Checkout api-clients repo
        uses: actions/checkout@v4
        with:
          repository: zhunismp/intent-api-clients
          token: ${{ secrets.API_CLIENTS_TOKEN }}
          path: api-clients

      - name: Download generated artifact
        uses: actions/download-artifact@v4
        with:
          name: productclient
          path: ./productclient

      - name: Move artifact into repo
        run: |
          mkdir -p api-clients/go/products
          mv productclient/* api-clients/go/products/

      - name: Commit and push
        run: |
          cd api-clients
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add -A
          git commit -m "chore(products): regenerate product client" || echo "No changes"
          git push origin main || echo "Nothing to push"