name: Merge pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-publish-docker:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: zhunism
          password: ${{ secrets.DOCKER_PAT}}

      - name: Set image tag
        id: vars
        run: |
          IMAGE_TAG="intent-product-api-v0.0.${{ github.run_number }}"
          echo "TAG=$IMAGE_TAG" >> $GITHUB_ENV
          echo "Image tag: $IMAGE_TAG"

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: docker.io/zhunism/intent:${{ env.TAG }}

      - name: Show image info
        run: echo "Pushed docker.io/zhunism/intent:${{ env.TAG }}"